<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_2384d3bbfc743f05564e4feed5025226 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_2384d3bbfc743f05564e4feed5025226" ></div>
        
</body>
<script>    
    
            var map_2384d3bbfc743f05564e4feed5025226 = L.map(
                "map_2384d3bbfc743f05564e4feed5025226",
                {
                    center: [29.380304, 79.46357],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );
            L.control.scale().addTo(map_2384d3bbfc743f05564e4feed5025226);

            

        
    
            var tile_layer_0766f7cb6e4f959291cf6c353b4811df = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_2384d3bbfc743f05564e4feed5025226);
        
    
            var marker_62cdb2a99b99d84da14dd45501423296 = L.marker(
                [29.29211384, 79.35319125],
                {}
            ).addTo(map_2384d3bbfc743f05564e4feed5025226);
        
    
            var icon_0b064852afb6d54eb8c4080b2e82cb81 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star empty", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_62cdb2a99b99d84da14dd45501423296.setIcon(icon_0b064852afb6d54eb8c4080b2e82cb81);
        
    
        var popup_7ff76c02d13512fc36fe7598cc6b5404 = L.popup({"maxWidth": "100%"});

        
            var html_da75befb6d0a69936edc71a774b316ca = $(`<div id="html_da75befb6d0a69936edc71a774b316ca" style="width: 100.0%; height: 100.0%;">Theft, From Building, >$950378.0</div>`)[0];
            popup_7ff76c02d13512fc36fe7598cc6b5404.setContent(html_da75befb6d0a69936edc71a774b316ca);
        

        marker_62cdb2a99b99d84da14dd45501423296.bindPopup(popup_7ff76c02d13512fc36fe7598cc6b5404)
        ;

        
    
    
            var marker_0f756a0098bbf039bdd93c8917312229 = L.marker(
                [29.2862712, 79.41041335],
                {}
            ).addTo(map_2384d3bbfc743f05564e4feed5025226);
        
    
            var icon_13388d860accc25e2b6d250ff6dab8e9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star empty", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_0f756a0098bbf039bdd93c8917312229.setIcon(icon_13388d860accc25e2b6d250ff6dab8e9);
        
    
        var popup_c9c19b7bfe861938fb25e0bb856d3b2e = L.popup({"maxWidth": "100%"});

        
            var html_9d8aa8ad94162ecf2ebf1936460b483b = $(`<div id="html_9d8aa8ad94162ecf2ebf1936460b483b" style="width: 100.0%; height: 100.0%;">Controlled Substance, Possession For Sale274.0</div>`)[0];
            popup_c9c19b7bfe861938fb25e0bb856d3b2e.setContent(html_9d8aa8ad94162ecf2ebf1936460b483b);
        

        marker_0f756a0098bbf039bdd93c8917312229.bindPopup(popup_c9c19b7bfe861938fb25e0bb856d3b2e)
        ;

        
    
    
            var marker_2c3c460e8104938c0e2a011b59709af2 = L.marker(
                [29.25031422, 79.45458228],
                {}
            ).addTo(map_2384d3bbfc743f05564e4feed5025226);
        
    
            var icon_2db30d9c3850c3b38776723b9e19bac7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star empty", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_2c3c460e8104938c0e2a011b59709af2.setIcon(icon_2db30d9c3850c3b38776723b9e19bac7);
        
    
        var popup_8b9f9cea045681a63940c5d8e45a9a28 = L.popup({"maxWidth": "100%"});

        
            var html_c6d08a0a05bbb99a8269b50cf4848353 = $(`<div id="html_c6d08a0a05bbb99a8269b50cf4848353" style="width: 100.0%; height: 100.0%;">Theft, Other Property, >$950378.0</div>`)[0];
            popup_8b9f9cea045681a63940c5d8e45a9a28.setContent(html_c6d08a0a05bbb99a8269b50cf4848353);
        

        marker_2c3c460e8104938c0e2a011b59709af2.bindPopup(popup_8b9f9cea045681a63940c5d8e45a9a28)
        ;

        
    
    
            var marker_401ff3047912f3baf5a3293363cfa29d = L.marker(
                [29.34564495, 79.55004426],
                {}
            ).addTo(map_2384d3bbfc743f05564e4feed5025226);
        
    
            var icon_303de73a13d71d936c3d585d5c45226e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star empty", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_401ff3047912f3baf5a3293363cfa29d.setIcon(icon_303de73a13d71d936c3d585d5c45226e);
        
    
        var popup_c8a74fe9d8a28bf39163cb81ce3735e1 = L.popup({"maxWidth": "100%"});

        
            var html_4d33199bbf7e62b9700bfa23a026fc6a = $(`<div id="html_4d33199bbf7e62b9700bfa23a026fc6a" style="width: 100.0%; height: 100.0%;">Theft, Other Property, $50-$200378.0</div>`)[0];
            popup_c8a74fe9d8a28bf39163cb81ce3735e1.setContent(html_4d33199bbf7e62b9700bfa23a026fc6a);
        

        marker_401ff3047912f3baf5a3293363cfa29d.bindPopup(popup_c8a74fe9d8a28bf39163cb81ce3735e1)
        ;

        
    
    
            var marker_4a7bcec0217e5a060ce789439d4fb49b = L.marker(
                [29.18039531, 79.2492847],
                {}
            ).addTo(map_2384d3bbfc743f05564e4feed5025226);
        
    
            var icon_021db7024990f67933e1d64532417d4e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star empty", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_4a7bcec0217e5a060ce789439d4fb49b.setIcon(icon_021db7024990f67933e1d64532417d4e);
        
    
        var popup_b5f66530690d4eab2f70f6e29b551555 = L.popup({"maxWidth": "100%"});

        
            var html_c099ab4ce3824f436725c79c94112470 = $(`<div id="html_c099ab4ce3824f436725c79c94112470" style="width: 100.0%; height: 100.0%;">Dead Body Found in the apartment300.0</div>`)[0];
            popup_b5f66530690d4eab2f70f6e29b551555.setContent(html_c099ab4ce3824f436725c79c94112470);
        

        marker_4a7bcec0217e5a060ce789439d4fb49b.bindPopup(popup_b5f66530690d4eab2f70f6e29b551555)
        ;

        
    
    
            var marker_dfb10da5743b12f40636c3e947aa69ff = L.marker(
                [29.66593383, 77.00542643],
                {}
            ).addTo(map_2384d3bbfc743f05564e4feed5025226);
        
    
            var icon_c79dca2738ce99847833524bd3ea0198 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star empty", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_dfb10da5743b12f40636c3e947aa69ff.setIcon(icon_c79dca2738ce99847833524bd3ea0198);
        
    
        var popup_ed22692a4e076e071d723b35fc0fb6a4 = L.popup({"maxWidth": "100%"});

        
            var html_4419def68ecb1c5ee8ab7651299ebcda = $(`<div id="html_4419def68ecb1c5ee8ab7651299ebcda" style="width: 100.0%; height: 100.0%;">Child Missing361.0</div>`)[0];
            popup_ed22692a4e076e071d723b35fc0fb6a4.setContent(html_4419def68ecb1c5ee8ab7651299ebcda);
        

        marker_dfb10da5743b12f40636c3e947aa69ff.bindPopup(popup_ed22692a4e076e071d723b35fc0fb6a4)
        ;

        
    
    
            var marker_b455d975444e88777f47761153826bbc = L.marker(
                [29.00850175, 79.41598421],
                {}
            ).addTo(map_2384d3bbfc743f05564e4feed5025226);
        
    
            var icon_963b49008cb633b10733aeafe845e8b3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star empty", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_b455d975444e88777f47761153826bbc.setIcon(icon_963b49008cb633b10733aeafe845e8b3);
        
    
        var popup_9f608a8d6a34e329bfd7b4436d8af501 = L.popup({"maxWidth": "100%"});

        
            var html_a4fd33d5f0236b9e3bb82883dedbb79f = $(`<div id="html_a4fd33d5f0236b9e3bb82883dedbb79f" style="width: 100.0%; height: 100.0%;">Vehicle, Recovered, Stolen outside SF378.0</div>`)[0];
            popup_9f608a8d6a34e329bfd7b4436d8af501.setContent(html_a4fd33d5f0236b9e3bb82883dedbb79f);
        

        marker_b455d975444e88777f47761153826bbc.bindPopup(popup_9f608a8d6a34e329bfd7b4436d8af501)
        ;

        
    
    
            var marker_9469a7fc4915f648e24254b2b0675d0c = L.marker(
                [29.11783692, 79.42995354],
                {}
            ).addTo(map_2384d3bbfc743f05564e4feed5025226);
        
    
            var icon_e286261f62a567a34223fdaf7cb5bd52 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star empty", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_9469a7fc4915f648e24254b2b0675d0c.setIcon(icon_e286261f62a567a34223fdaf7cb5bd52);
        
    
        var popup_aa803889a921a1081421fe1f1b592772 = L.popup({"maxWidth": "100%"});

        
            var html_5b86473f6e20ff99b9601143fbf97367 = $(`<div id="html_5b86473f6e20ff99b9601143fbf97367" style="width: 100.0%; height: 100.0%;">Theft, From Building, >$950378.0</div>`)[0];
            popup_aa803889a921a1081421fe1f1b592772.setContent(html_5b86473f6e20ff99b9601143fbf97367);
        

        marker_9469a7fc4915f648e24254b2b0675d0c.bindPopup(popup_aa803889a921a1081421fe1f1b592772)
        ;

        
    
    
            var marker_aea73fe1bd138d9171109d4ae374b364 = L.marker(
                [29.12932331, 79.42895675],
                {}
            ).addTo(map_2384d3bbfc743f05564e4feed5025226);
        
    
            var icon_b036466cda36f3f8b092960784c77177 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star empty", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_aea73fe1bd138d9171109d4ae374b364.setIcon(icon_b036466cda36f3f8b092960784c77177);
        
    
        var popup_0235c29289ca657ac6c33e312b3cc3fe = L.popup({"maxWidth": "100%"});

        
            var html_71d97103a1d12486c07bb72243990fcc = $(`<div id="html_71d97103a1d12486c07bb72243990fcc" style="width: 100.0%; height: 100.0%;">License Plate, Stolen378.0</div>`)[0];
            popup_0235c29289ca657ac6c33e312b3cc3fe.setContent(html_71d97103a1d12486c07bb72243990fcc);
        

        marker_aea73fe1bd138d9171109d4ae374b364.bindPopup(popup_0235c29289ca657ac6c33e312b3cc3fe)
        ;

        
    
</script>