<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_9421d91350104cd7a1f7a4517d8e93ed {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_9421d91350104cd7a1f7a4517d8e93ed" ></div>
        
</body>
<script>    
    
            var map_9421d91350104cd7a1f7a4517d8e93ed = L.map(
                "map_9421d91350104cd7a1f7a4517d8e93ed",
                {
                    center: [29.94569, 78.164246],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );
            L.control.scale().addTo(map_9421d91350104cd7a1f7a4517d8e93ed);

            

        
    
            var tile_layer_4e7535bdbd66dff54b8f6ead2d58acbc = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_9421d91350104cd7a1f7a4517d8e93ed);
        
    
            var marker_a0bf8f6b46e50d693a0f599e74286f67 = L.marker(
                [29.8448947, 78.00274363],
                {}
            ).addTo(map_9421d91350104cd7a1f7a4517d8e93ed);
        
    
            var icon_6c80f9fc81463c6251bd835671a3bd0c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star empty", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_a0bf8f6b46e50d693a0f599e74286f67.setIcon(icon_6c80f9fc81463c6251bd835671a3bd0c);
        
    
        var popup_1e6d4cb348b68aae7d9c84f4c5a1baca = L.popup({"maxWidth": "100%"});

        
            var html_31750d4f2c005d974d8cd75d4c47c82c = $(`<div id="html_31750d4f2c005d974d8cd75d4c47c82c" style="width: 100.0%; height: 100.0%;">Case Closure392.0</div>`)[0];
            popup_1e6d4cb348b68aae7d9c84f4c5a1baca.setContent(html_31750d4f2c005d974d8cd75d4c47c82c);
        

        marker_a0bf8f6b46e50d693a0f599e74286f67.bindPopup(popup_1e6d4cb348b68aae7d9c84f4c5a1baca)
        ;

        
    
    
            var marker_c11a22385c9fc26f0581fa4dc47da091 = L.marker(
                [29.82711365, 78.01554982],
                {}
            ).addTo(map_9421d91350104cd7a1f7a4517d8e93ed);
        
    
            var icon_759828498d8eaa6c19bc9cf8244fd347 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star empty", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_c11a22385c9fc26f0581fa4dc47da091.setIcon(icon_759828498d8eaa6c19bc9cf8244fd347);
        
    
        var popup_e5ea43a09d822d6cc09ccb2577a232be = L.popup({"maxWidth": "100%"});

        
            var html_d9ad5d17470671539d1ae452a1dc606e = $(`<div id="html_d9ad5d17470671539d1ae452a1dc606e" style="width: 100.0%; height: 100.0%;">Assault, Aggravated, W/ Gun300.0</div>`)[0];
            popup_e5ea43a09d822d6cc09ccb2577a232be.setContent(html_d9ad5d17470671539d1ae452a1dc606e);
        

        marker_c11a22385c9fc26f0581fa4dc47da091.bindPopup(popup_e5ea43a09d822d6cc09ccb2577a232be)
        ;

        
    
    
            var marker_2090ce7bc3cedf7ed2c2387006bc1d22 = L.marker(
                [29.82994028, 78.0440456],
                {}
            ).addTo(map_9421d91350104cd7a1f7a4517d8e93ed);
        
    
            var icon_466e5744f2d6fca514ecc4a409dc40a5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star empty", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_2090ce7bc3cedf7ed2c2387006bc1d22.setIcon(icon_466e5744f2d6fca514ecc4a409dc40a5);
        
    
        var popup_f2ae7d0a4a68a4093ab6f237ef25b627 = L.popup({"maxWidth": "100%"});

        
            var html_96232922a42cda5770da1e3472b50592 = $(`<div id="html_96232922a42cda5770da1e3472b50592" style="width: 100.0%; height: 100.0%;">Theft, From Locked Vehicle, >$950378.0</div>`)[0];
            popup_f2ae7d0a4a68a4093ab6f237ef25b627.setContent(html_96232922a42cda5770da1e3472b50592);
        

        marker_2090ce7bc3cedf7ed2c2387006bc1d22.bindPopup(popup_f2ae7d0a4a68a4093ab6f237ef25b627)
        ;

        
    
    
            var marker_ad2f6d01fd86d33814936a4d8be68898 = L.marker(
                [29.83879365, 78.04052798],
                {}
            ).addTo(map_9421d91350104cd7a1f7a4517d8e93ed);
        
    
            var icon_26d867f07ba631ccd73befd65355b783 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star empty", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_ad2f6d01fd86d33814936a4d8be68898.setIcon(icon_26d867f07ba631ccd73befd65355b783);
        
    
        var popup_a2ad845b788a615c8a569c156c783e54 = L.popup({"maxWidth": "100%"});

        
            var html_000d9e03cb61478e2c7c3021937402ee = $(`<div id="html_000d9e03cb61478e2c7c3021937402ee" style="width: 100.0%; height: 100.0%;">Arson, Commercial Building435.0</div>`)[0];
            popup_a2ad845b788a615c8a569c156c783e54.setContent(html_000d9e03cb61478e2c7c3021937402ee);
        

        marker_ad2f6d01fd86d33814936a4d8be68898.bindPopup(popup_a2ad845b788a615c8a569c156c783e54)
        ;

        
    
    
            var marker_52c77e5107caa5a45f00dd2475d9bc7e = L.marker(
                [29.77283614, 77.79048354],
                {}
            ).addTo(map_9421d91350104cd7a1f7a4517d8e93ed);
        
    
            var icon_c21ea6ed2beabe204fc9ec936667528b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star empty", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_52c77e5107caa5a45f00dd2475d9bc7e.setIcon(icon_c21ea6ed2beabe204fc9ec936667528b);
        
    
        var popup_75af9744640ae448811dbe8a190879f3 = L.popup({"maxWidth": "100%"});

        
            var html_9187e06f087313b532cad1461cf3379c = $(`<div id="html_9187e06f087313b532cad1461cf3379c" style="width: 100.0%; height: 100.0%;">Personal Information Leaked300.0</div>`)[0];
            popup_75af9744640ae448811dbe8a190879f3.setContent(html_9187e06f087313b532cad1461cf3379c);
        

        marker_52c77e5107caa5a45f00dd2475d9bc7e.bindPopup(popup_75af9744640ae448811dbe8a190879f3)
        ;

        
    
    
            var marker_15ab32e871a740a1739c0ddaadb9e27b = L.marker(
                [29.75747462, 77.78118145],
                {}
            ).addTo(map_9421d91350104cd7a1f7a4517d8e93ed);
        
    
            var icon_d7338289f8206c2c59734568cccedd1e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star empty", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_15ab32e871a740a1739c0ddaadb9e27b.setIcon(icon_d7338289f8206c2c59734568cccedd1e);
        
    
        var popup_3a7bd8af3064d1f928a271b54cc54ace = L.popup({"maxWidth": "100%"});

        
            var html_1979a29e35c922fc7ea188d8e5bf3f40 = $(`<div id="html_1979a29e35c922fc7ea188d8e5bf3f40" style="width: 100.0%; height: 100.0%;">Terrorist Threats300.0</div>`)[0];
            popup_3a7bd8af3064d1f928a271b54cc54ace.setContent(html_1979a29e35c922fc7ea188d8e5bf3f40);
        

        marker_15ab32e871a740a1739c0ddaadb9e27b.bindPopup(popup_3a7bd8af3064d1f928a271b54cc54ace)
        ;

        
    
    
            var marker_5e307e923738d2535cc5057e82895f02 = L.marker(
                [29.8431589, 77.60494344],
                {}
            ).addTo(map_9421d91350104cd7a1f7a4517d8e93ed);
        
    
            var icon_fb7224a1dfdb0c38a1b0b94ce764b9a8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star empty", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_5e307e923738d2535cc5057e82895f02.setIcon(icon_fb7224a1dfdb0c38a1b0b94ce764b9a8);
        
    
        var popup_d91565026408a2e02c5719cddaa2f67c = L.popup({"maxWidth": "100%"});

        
            var html_af90be463933bd869e36bf6a74cd7a4a = $(`<div id="html_af90be463933bd869e36bf6a74cd7a4a" style="width: 100.0%; height: 100.0%;">Theft, From Locked Vehicle, >$950378.0</div>`)[0];
            popup_d91565026408a2e02c5719cddaa2f67c.setContent(html_af90be463933bd869e36bf6a74cd7a4a);
        

        marker_5e307e923738d2535cc5057e82895f02.bindPopup(popup_d91565026408a2e02c5719cddaa2f67c)
        ;

        
    
    
            var marker_3f0d4ed10f023a9b1d5a5d89a6403fb3 = L.marker(
                [29.84792708, 78.00515546],
                {}
            ).addTo(map_9421d91350104cd7a1f7a4517d8e93ed);
        
    
            var icon_5c4f75d0fd92fedabd03eaecfcf65a04 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star empty", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_3f0d4ed10f023a9b1d5a5d89a6403fb3.setIcon(icon_5c4f75d0fd92fedabd03eaecfcf65a04);
        
    
        var popup_b179f8a717f2eb1fa655fecf9cbf7518 = L.popup({"maxWidth": "100%"});

        
            var html_fb8c4b743e9fb4458de4113fe9297d9c = $(`<div id="html_fb8c4b743e9fb4458de4113fe9297d9c" style="width: 100.0%; height: 100.0%;">Traffic Violation Arrest506.0</div>`)[0];
            popup_b179f8a717f2eb1fa655fecf9cbf7518.setContent(html_fb8c4b743e9fb4458de4113fe9297d9c);
        

        marker_3f0d4ed10f023a9b1d5a5d89a6403fb3.bindPopup(popup_b179f8a717f2eb1fa655fecf9cbf7518)
        ;

        
    
    
            var marker_8c2c933c2d0f8ad33d7fab84183963b1 = L.marker(
                [29.73526751, 77.57822436],
                {}
            ).addTo(map_9421d91350104cd7a1f7a4517d8e93ed);
        
    
            var icon_47fce635e8dc1b309efdb8b736f2cdb1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star empty", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_8c2c933c2d0f8ad33d7fab84183963b1.setIcon(icon_47fce635e8dc1b309efdb8b736f2cdb1);
        
    
        var popup_eead8d2a543c37ae34a1c1800184170d = L.popup({"maxWidth": "100%"});

        
            var html_7eba4453a0522bfe289e5e37d4ab35a5 = $(`<div id="html_7eba4453a0522bfe289e5e37d4ab35a5" style="width: 100.0%; height: 100.0%;">Theft, Other Property, $50-$200378.0</div>`)[0];
            popup_eead8d2a543c37ae34a1c1800184170d.setContent(html_7eba4453a0522bfe289e5e37d4ab35a5);
        

        marker_8c2c933c2d0f8ad33d7fab84183963b1.bindPopup(popup_eead8d2a543c37ae34a1c1800184170d)
        ;

        
    
    
            var marker_0151947b232267042b4af71a46ea1a6a = L.marker(
                [29.66052912, 78.00062829],
                {}
            ).addTo(map_9421d91350104cd7a1f7a4517d8e93ed);
        
    
            var icon_7c8b43f2bea7a20869b6736baad31bc9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star empty", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_0151947b232267042b4af71a46ea1a6a.setIcon(icon_7c8b43f2bea7a20869b6736baad31bc9);
        
    
        var popup_dd339d496a1b3ed2b27e80c9a26d15d9 = L.popup({"maxWidth": "100%"});

        
            var html_fc011e9d1b567e4df6ddb203e5c7a4a9 = $(`<div id="html_fc011e9d1b567e4df6ddb203e5c7a4a9" style="width: 100.0%; height: 100.0%;">Malicious Mischief, Vandalism to Vehicle300.0</div>`)[0];
            popup_dd339d496a1b3ed2b27e80c9a26d15d9.setContent(html_fc011e9d1b567e4df6ddb203e5c7a4a9);
        

        marker_0151947b232267042b4af71a46ea1a6a.bindPopup(popup_dd339d496a1b3ed2b27e80c9a26d15d9)
        ;

        
    
</script>