<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
<body>
  <div class="sidebar close">
    <div class="logo-details">
      <span class="logo_name"></span>
    </div>
    <ul class="nav-links">
      <li>
        <a href="#">
          <i class='bx bx-grid-alt' ></i>
          <span class="link_name">Dashboard</span>
        </a>
        <!-- <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Asia</a></li>
        </ul> -->
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-collection' ></i>
            <span class="link_name">India</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
        <!-- <li><a class="link_name" href="#"></a></li> -->
          <li><a href="dehradun"> Dehradun</a></li>                   
          <li><a href="nanital">Nanital</a></li>
          <li><a href="haridwar">Haridwar</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-book-alt' ></i>
            <span class="link_name">Crime Type</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <!-- <li><a class="link_name" href="#">Posts</a></li> -->
          <!-- <li><a href="#">Web Design</a></li> -->
          <li><a href="murder">Murder</a></li>
          <li><a href="theft">Theft</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-book-alt' ></i>
            <span class="link_name">Analysis</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a href="heatmap">Real-Time Heatmap</a></li>
          <li><a href="cluster">Marker Cluster</a></li>
        </ul>
      </li>
      <!-- <li>
        <a href="#">
          <i class='bx bx-line-chart' ></i>
          <span class="link_name">Chart</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Chart</a></li>
        </ul>
      </li> -->
      <!-- <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-plug' ></i>
            <span class="link_name">Plugins</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Plugins</a></li>
          <li><a href="#">UI Face</a></li>
          <li><a href="#">Pigments</a></li>
          <li><a href="#">Box Icons</a></li>
        </ul>
      </li>
      <li> -->
        <!-- <a href="#">
          <i class='bx bx-compass' ></i>
          <span class="link_name">Explore</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Explore</a></li>
        </ul>
      </li>
      <li> -->
        <!-- <a href="#">
          <i class='bx bx-history'></i>
          <span class="link_name">History</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">History</a></li>
        </ul>
      </li> -->
      <!-- <li>
        <a href="#">
          <i class='bx bx-cog' ></i>
          <span class="link_name">Setting</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Setting</a></li>
        </ul>
      </li>
      <li> -->
    <div class="profile-details">
      <div class="profile-content">
      </div>
      <div class="name-job">
        <div class="profile_name">UPES Dehradun</div>
        <div class="job">Open Community</div>
      </div>
      <i class='bx bx-log-out' ></i>
    </div>
  </li>
</ul>
  </div>
  <section class="home-section">
    <div class="home-content">
      <i class='bx bx-menu' ></i>
      <span class="text">Open Crime Analysis</span>
    </div>
    <div class="map">

    </div>
    <img src="static/images/logo-final.png" class="crime-logo" alt="crime logo" />
    <div class="container intro">
      <img src="static/images/crime.png" class="crime-img" alt="crime img" />
      <h1>About Us</h1>
      <p>
        Crime analysts use mapping and analytical methods such as hot spot
        analysis to identify crime trends and patterns and help police agencies
        identify problems, allocate resources, and solve crimes.
      </p>
    </div>
    <div class="container intro">
      <img src="static/images/analysis.png" class="crime-img" alt="crime img" />
      <h1>Identify short and long-term crime patterns</h1>
      <p>
        Support data-driven crime reduction with tools for both tactical and
        strategic analysis. Find short-term crime patterns and support the
        identification and evaluation of long-term crime problems and trends.
      </p>
    </div>
    <div class="container intro">
      <img src="static/images/enforce.png" class="crime-img" alt="crime img" />
      <h1>Support investigations</h1>
      <p>
        Use data to explore the relationships between people, events, and
        locations. We can help investigators uncover criminal networks and
        understand suspect activity patterns with a variety of tools to analyze
        cell phone records, financial transactions, and other investigative data
        sources.
      </p>
    </div>
  </section>
  <script>
  let arrow = document.querySelectorAll(".arrow");
  for (var i = 0; i < arrow.length; i++) {
    arrow[i].addEventListener("click", (e)=>{
   let arrowParent = e.target.parentElement.parentElement;
   arrowParent.classList.toggle("showMenu");
    });
  }
  let sidebar = document.querySelector(".sidebar");
  let sidebarBtn = document.querySelector(".bx-menu");
  console.log(sidebarBtn);
  sidebarBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("close");
  });

  var element = document.getElementById("elem");
    element.onclick = function(event) {
      console.log(event);
    }

  </script>
</body>
</html>
